# Ignore large preprocessed data files
data/preprocessed_data.pkl
notebook/preprocessed_data.pkl

# Ignore other large datasets
data/*.csv
!data/test_identity.csv  # Keep this if your app needs it to expand features

# Specifically ignore the massive preprocessed file in models
models/preprocessed_data.pkl